<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление самолета на рейс</title>
</head>
<header th:insert="blogs/header :: header">
</header>
<body>
<table>
    <tr>
        <th>Самолет</th>
        <th>Количество полетов</th>
        <th>Добавить</th>

    </tr>

    <tr class="airport" th:each="plane : ${planeList}">
        <td th:text="${plane.name}"></td>
        <td th:text="${plane.count_flights}"></td>
        <td>
            <form method="post" th:action="@{'/' + ${airport_name}+'/flights/'+${id}+'/add-plane/'+${plane.id}}">
                <button type="submit">Добавить самолет</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>