<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-image: url('https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBPEsc1.img');
        background-size: cover;
        background-repeat: no-repeat;
        background-blur: 250px;
    }
</style>
<head>

    <meta charset="UTF-8">
    <title>Booking seats</title>
</head>

<header th:insert="blogs/header :: header">
</header>
<body>

<div>
    <h1>Выберите место для бронирования</h1>
    <div th:each="passenger : ${passengerList}">
        <a th:href="@{'/' + ${airport_name} + '/flights/' + ${id} + '/passengers/' + ${passenger.id}}"
           class="seat-button"
           th:classappend="${passenger.user != null} ? 'reserved' : ''"
           th:text="${passenger.seat}"></a>
    </div>
</div>
</body>

</html>
